name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: 8
        distribution: temurin
    - uses: coursier/cache-action@v8
    - uses: sbt/setup-sbt@v1
    - run: sbt -v
           test
           genAndCheckHtml
           genHtmlPublish
           fullOptJS
    - run: |
        mkdir deploy-tmp &&
        mv index.html ./deploy-tmp/ &&
        mv ./js/target/scala-2.13/scalajspack-opt.js ./deploy-tmp/scalajspack.js
        mv ./js/target/scala-2.13/scalajspack-opt.js.map ./deploy-tmp/scalajspack-opt.js.map
    - if: ${{ github.repository_owner == 'xuwei-k' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@v4.8.0
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: deploy-tmp
        CLEAN: true
